<div>
  <h1 style="text-align: center;padding-top: 32px;"><?php echo $title; ?></h1>
  <div style="width: 150px;margin:auto">
    <img  src="<?php echo $this->Html->url('/img/email-logo.png', true); ?>" style="margin: 6px 0; " alt=""/> 
  </div>          
  <div style="margin-top: 29px; padding : 0 38px;">
    <p><?php echo $body; ?></p>
    
  </div>  
</div>