body{
	background-color: #CFC063;
	position: relative;
	overflow-x: hidden;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
.container{
	width: 1000px
}
#logo img{
	position: relative;
	top: -135px;
}

.text-form{	
	text-align: center;
	padding-top: 20px;
}
#overlay{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 5;
	display: none;
}
#loginbtnimg {
	margin-left: 185px;
	margin-top: 35px;
}
#email-logo {
	margin-left: 245px;
	margin-top: 6px;
}
.part-one, .part-tow {
	border-bottom:1px solid #b5a85f;
	margin: 0 -10px 20px -10px;
	
}
#intro{
	background: url('../img/header1.png') no-repeat center center fixed;
    height: 280px !important;
	position: relative;
	width: 100%
   
}
#second{
	background:#eae5cf url('../img/booking.jpg') no-repeat center center fixed;
	background-size: 100% 100%;	
	min-height: 550px;
	width: 100%
   
}
#third{
	background:#2a2b25 url('../img/download1.png') no-repeat center center fixed;
	background-size: auto 100%;
    min-height: 250px;
	position: relative;
}

.bg_trans{
    background: url('../img/header1bg.png') repeat;
    width: 100%;
}
.bg-color{
	background-color: #000;
	padding: 20px 10px;
}
label{
	color: #E4B057;
	font-size: 12px;
}
.label-left{
	text-align: left !important;
}
.icon{
	margin: 20px 0
}
.icon a {
	padding: 0 5px;
}
.icon a.login{
	background-color: #000;
	border-radius: 22px;
	padding: 15px;
}
a.login{
	color: #fff;
}
.loginlabel, .signlabel{
	font-size: 2em;
	font-weight: bold;
	color: #ffd800;
	line-height: 170%;
	text-align: center;
}
.bg-color-overlay{
	background: url('../img/header1bg.png') repeat-x;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.bg-color-overlay h2{
	color: #fff;
	font-weight: bold;
	line-height: 2;
}
img{
	max-width: 100%;
}

.form-control {
    background-image: url("../img/text-left.png"), url("../img/text-right.png"), url("../img/text-bg.png");
    background-position: left top, right top, left top;
    background-repeat: no-repeat, no-repeat, repeat-x;
    border: medium none;
    border-radius: 0;
}
.checkbox{
	position: relative;
}
.checkbox img{
	position: absolute;
	left: -1px;
}
.padding-right{
	padding-right: 0
}
.form-horizontal .form-group{
	margin-right: 0
}
.part-three .form-group{
	margin-right: -15px
}
input[type="checkbox"]{
	opacity: 0
}
.tick-check{
	display: none;
}
.pay-btn{
	margin: 10px 0;
}
.buy-now{
	 background: url("../img/booking.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 56px;
    left: 50%;
    margin-left: -138px;
    margin-top: 60px;
    position: absolute;
    text-indent: -9999px;
    width: 276px;
    z-index: 1;
}
.buy-now1{
	margin: 40px 0;	   
    height: 56px;    
    width: 276px;
    visibility: hidden;
}
.app-dwn{
	position: inherit;
	bottom: 0;
	left: 50%;
	margin-left: -350px;
}
#aboutdetails {
	line-height: 29px;
}

.dwn-iphone, .dwn-and{
	  background: url("../img/apple.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	  height: 95px;	
	  width: 350px;  
	  background-size: 100% auto;
	  text-indent: -9999px;
	  border:none;
	  margin: 0 15px;
}
.icon-chevron-up  {
    background: url(../img/uparrow.png) no-repeat;
    width: 17px;
    height: 9px;
    display: block;
    position: relative;
    left: 10px;

}
.icon-chevron-down  {
    background: url(../img/downarrow.png) no-repeat;
    width: 17px;
    height: 9px;
    display: block;
    position: relative;
    left: 10px;
}
.dwn-and{
	  background: url("../img/android.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);	 
}
.des h2{
	font-size: 3em;
	font-weight: bold;
	color: #ffd800;
	line-height: 170%;
	text-align: left;
    text-shadow: 0 0 8px #000;
}
h2#about img {
    height: 60px;
}
.des p{
	color: #fff;
	margin-bottom: 20px;
}
.footer{
	background: #000;
	padding: 20px 0;
	
}
.s-icon{
	margin: 20px 0;
}
.s-icon  a{
	padding: 0 5px;
}
.f-link{
	margin: 25px 0;
}
.f-link a{
	color: #e4b057;
	border-right: 1px solid #e4b057;
	padding : 0 10px;
	text-decoration: none;
}
.copyright {
    color: #64604B;
}
.car{
	background: url('../img/ashcar.png') repeat-x;
	height: 30px;
}
#note{
	padding-left: 8px
}
.header{
	padding: 10px;

}
.header p{
	color: #fff
}
.wait-message {
	color: #fff;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    width: 230px;
    margin-left: -115px
}
.ui-autocomplete {
	height: 200px;
	overflow: auto;
}
.popup h3{
	line-height: 1;
	margin-top: 0;

}
.delete{
	position: absolute;
	right: 15px;
	top : 15px;
	cursor: pointer;
}
.popup {
    background: #000;
    width: 790px;
    height: 580px;
    /*margin-top: -165px;*/
    margin-top:  -290px;
    margin-left: -395px;
    position: fixed;
    border-radius: 50px;
    z-index: 20;
    top: 50%;
    left: 50%;
    padding: 10px 0 10px 15px
}
.popup .form-group label{
	font-size: 14px;
	font-weight: bold;
}
.popup-font {
    font: italic;
    font-size: 2em;
    font-weight: bold;
    color: #ffd800;    
}

.popup input{
	margin-bottom: 5px;
}
.conditions-des{
	height: 450px;
	overflow: auto;
	margin-top: 25px;
	margin-left: 10px;
}
#loginimg, #signimg {
	cursor: pointer;
}

.jspVerticalBar {
	width: 7px;
	background: transparent;
}
.jspTrack {
	background: #D8D8D8;
	border-radius: 10px;
	width: 7px;
}
.jspDrag {
	background: #A4A4A4;
	border-radius: 5px;
}
.jspContainer{
	width: auto !important; 
}
#datetext{
	padding: 6px 5px;
}
.Date .date-input, .time-input{
	padding-left: 0;
}
.form-area{
	width: 300px;
	margin: auto;
}
.form-bg{
	background: #fff;
	border-radius: 10px;
	padding: 10px;
}
.loginbtn{
	border-radius: 0;
	border: 0;
	background: url('../img/loginbtn.png') no-repeat;
	height: 40px;
	width: 200px;
	text-indent: -999px
}
#loginForm{
	background: #fff;
	padding: 10px;
	border-radius: 10px;
}
.paypal{
	background: #fff;
	width: 200px;
	height: 200px;
	margin:20px auto 0;
	padding: 10px;
	border-radius: 10px;
}
.paypal form input[type="image"]{
	margin: 1em 0;
}
@media (min-width:1025px){
#asap input[type="checkbox"]{
	position: absolute;
	visibility: hidden;
}
#asap img{
	margin-left: 165px;
}
#asap img#datepic{
	margin-left: 15px;
}
#asap label{
	margin-left: 20px;
	font-weight: bold;
}
.pessengers, .time{
	position: relative;
	left: 30px;
}
.Luggage.col-md-3{
	width: 26%;
	position: relative;
	left: 30px;
}	
.Date{
	position: relative;
	left: 42px;
}

}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

.container{
	width: auto !important;
}


#second{
	background:#f4f4e3 url('../img/booking.jpg') no-repeat center center fixed;
	height: auto;
	background-size: auto 100%;
	width: 100%;
	margin: 0;
	margin-right: -15px

   
}
#second .row, .aboutpart {
	margin-left:10px;
	margin-right: 10px; 
}

 .section-tow, .section-about-cabbiap{	
	height: auto;
	background-size: 100% auto;   
}
.popup{
	position: fixed;
	margin-left: 0;
	margin-top: 0;
	left: 0;
	top: 50px;
	width: 100%;
	height: auto;
}
.popup .signUp {
    padding: 14px;
}

.dwn-iphone, .dwn-and{
	margin: 0;
}
.jspContainer{
	width: 100% !important; 
}
.pessengers{
	padding-left: 0;
	left:40px;
}
.time label.col-sm-6, .pessengers label.col-sm-6{
	padding: 7px 0 0;
    width: auto;
}
.time div.col-sm-6{
	width: 100px;
}
.pessengers div.col-sm-6{
	width: 65px;
	padding-right: 0
}
.Luggage label{
	padding-right: 0;
	width: auto;
}
 .col-sm-3.Luggage{
 	width: 215px;
 }
 .Luggage div.col-sm-6 {
 	width: 80px;
 	padding-right: 0
 }
 .part-three .col-sm-offset-2 {
    margin-left: 9.667%;
}
.Date label{
	padding-right: 0
}
.bootstrap-timepicker-widget table td input {
    border: 1px solid #DDDDDD;
    margin: 0;
    text-align: center;
    width: 37px;
}
#asap input[type="checkbox"]{
	position: absolute;
	visibility: hidden;
}
#asap img{
	margin-left: 165px;
}
#asap img#datepic{
	margin-left: 15px;
}
#asap label{
	margin-left: 20px;
	font-weight: bold;
}
.pessengers, .time{
	position: relative;
	left: 30px;
}
.Luggage.col-md-3{
	/*width: 26%;*/
	position: relative;
	left: 30px;
}	
.Date{
	position: relative;
	left: 42px;
}

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.container{
	width: auto !important;
}
	.bg-color-overlay{
		background-size: 100% 100%
	}
	.bg-color-overlay h2{
		font-size: 20px;
		line-height: 1.5
	}
	.padding-right{
	padding-right: 15px
}
.form-horizontal .form-group{
	margin-right: 0;
	margin-left: 0;
}
.des h2{
	line-height: 1.5
}


.dwn-iphone, .dwn-and{		
	width: 200px;
	background-size: 100% auto;
}
#intro{
	height: 460px;
}
#logo img {
	position: relative;
	top: -50px;
}
	#second{	
	height: 100% !important;
	background-size: auto 100%;
	width: 100% !important;
	padding-bottom: 20px;

}
#third{
	background:#cfd3d4 url('../img/download1.png') no-repeat center center fixed;	
	height: 100% !important;
	background-size: auto 100%;
}
#aboutdetails {
	padding: 10px;
}
#second .row, .aboutpart {
	margin-left:10px;
	margin-right: 10px; 
}

.app-dwn{
	position: relative;
	text-align: center;
	margin: auto;
	left: auto;
}

.popup{
	position: absolute;
	margin-left: 0;
	margin-top: 0;
	left: 0;
	top: 50px;
	width: 100%;
	height: auto;
}
.popup .signUp {
    padding: 14px;
}
#partition{
	display: none;
}
.part-one, .part-tow, .part-three, .last-part {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.col-xs-12{
	padding: 0
}
.control-label{
	text-align: left;
}
.bootstrap-timepicker-widget table td input {
    border: 1px solid #DDDDDD;
    margin: 0;
    text-align: center;
    width: 37px;
}
.add-des label{
	 margin-left: 8px;
    padding-left: 0;
    padding-right: 0;
}
#asap img{
	margin-left: 55px;
}
#asap img#datepic{
	margin-left: 15px;
}
}