<div>
  <h1 style="text-align: center;padding-top: 32px;"><?php echo $title; ?></h1>
  <div style="width: 150px;margin:auto">
    <img  src="<?php echo $this->Html->url('/img/email-logo.png', true); ?>" style="margin: 6px 0; " alt=""/> 
  </div>          
  <div style="margin-top: 29px; padding : 0 38px;">
    <p><?php echo $body; ?></p>
    
  </div>
  <div>
    <a href="http://74.3.255.228/dev.cabbieapp"> <img  src="<?php echo $this->Html->url('/img/login.png', true); ?>" style=" margin-left: 185px; margin-top: 35px; " alt=""/>    </a>             
  </div>
</div>